In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint
from api_keys import api_key

In [2]:
base_url = "https://api.usa.gov/crime/fbi/sapi/api/"

In [3]:
# NATIONAL LEVEL offender-data-controller

# Setting variable for offense so that you can easily have the URL filter by specific offense type
nat_offense = "aggravated-assault"

# This field can be age, count, ethnicity, race, sex
nat_variable = "age"

# Building query URL
nat_query_url = f"{base_url}data/nibrs/{nat_offense}/offender/national/{nat_variable}?API_KEY={api_key}"
nat_query_url

'https://api.usa.gov/crime/fbi/sapi/api/data/nibrs/aggravated-assault/offender/national/age?API_KEY=cflHyG9x1XDXBgcVSb4tVrfvlJ40CZESdtJRqOVe'

In [4]:
# Getting data
nat_fbi_response = requests.get(nat_query_url)
nat_fbi_json = nat_fbi_response.json()
nat_fbi_json

{'results': [{'unknown': 32502,
   'range_0_9': 684,
   'range_10_19': 37312,
   'range_20_29': 88632,
   'range_30_39': 71014,
   'range_40_49': 37309,
   'range_50_59': 23459,
   'range_60_69': 8047,
   'range_70_79': 1841,
   'range_80_89': 430,
   'range_90_99': 203,
   'data_year': 2019},
  {'unknown': 8230,
   'range_0_9': 507,
   'range_10_19': 21341,
   'range_20_29': 27760,
   'range_30_39': 20495,
   'range_40_49': 11061,
   'range_50_59': 3443,
   'range_60_69': 973,
   'range_70_79': 315,
   'range_80_89': 83,
   'range_90_99': 158,
   'data_year': 1999},
  {'unknown': 5685,
   'range_0_9': 313,
   'range_10_19': 13989,
   'range_20_29': 17442,
   'range_30_39': 11054,
   'range_40_49': 4415,
   'range_50_59': 1437,
   'range_60_69': 471,
   'range_70_79': 142,
   'range_80_89': 34,
   'range_90_99': 35,
   'data_year': 1993},
  {'unknown': 14983,
   'range_0_9': 568,
   'range_10_19': 34181,
   'range_20_29': 48529,
   'range_30_39': 28917,
   'range_40_49': 20320,
   'range_50_59': 6724,
   'range_60_69': 1717,
   'range_70_79': 524,
   'range_80_89': 129,
   'range_90_99': 157,
   'data_year': 2004},
  {'unknown': 19370,
   'range_0_9': 541,
   'range_10_19': 36851,
   'range_20_29': 66933,
   'range_30_39': 36915,
   'range_40_49': 25360,
   'range_50_59': 11928,
   'range_60_69': 3059,
   'range_70_79': 812,
   'range_80_89': 197,
   'range_90_99': 148,
   'data_year': 2010},
  {'unknown': 25231,
   'range_0_9': 455,
   'range_10_19': 31665,
   'range_20_29': 77818,
   'range_30_39': 59656,
   'range_40_49': 31802,
   'range_50_59': 20420,
   'range_60_69': 6484,
   'range_70_79': 1480,
   'range_80_89': 318,
   'range_90_99': 110,
   'data_year': 2018},
  {'unknown': 17320,
   'range_0_9': 452,
   'range_10_19': 26910,
   'range_20_29': 63353,
   'range_30_39': 39095,
   'range_40_49': 24095,
   'range_50_59': 13982,
   'range_60_69': 3547,
   'range_70_79': 861,
   'range_80_89': 241,
   'range_90_99': 164,
   'data_year': 2013},
  {'unknown': 2349,
   'range_0_9': 272,
   'range_10_19': 12445,
   'range_20_29': 15018,
   'range_30_39': 10910,
   'range_40_49': 4928,
   'range_50_59': 1535,
   'range_60_69': 525,
   'range_70_79': 158,
   'range_80_89': 30,
   'range_90_99': 52,
   'data_year': 1995},
  {'unknown': 17795,
   'range_0_9': 162,
   'range_10_19': 7918,
   'range_20_29': 13069,
   'range_30_39': 9560,
   'range_40_49': 3535,
   'range_50_59': 1211,
   'range_60_69': 507,
   'range_70_79': 157,
   'range_80_89': 32,
   'range_90_99': 37,
   'data_year': 1991},
  {'unknown': 13218,
   'range_0_9': 583,
   'range_10_19': 29329,
   'range_20_29': 40614,
   'range_30_39': 26381,
   'range_40_49': 15736,
   'range_50_59': 5150,
   'range_60_69': 1418,
   'range_70_79': 452,
   'range_80_89': 89,
   'range_90_99': 189,
   'data_year': 2001},
  {'unknown': 18988,
   'range_0_9': 390,
   'range_10_19': 26942,
   'range_20_29': 65957,
   'range_30_39': 44123,
   'range_40_49': 25271,
   'range_50_59': 15631,
   'range_60_69': 4354,
   'range_70_79': 1035,
   'range_80_89': 218,
   'range_90_99': 177,
   'data_year': 2015},
  {'unknown': 17689,
   'range_0_9': 419,
   'range_10_19': 26517,
   'range_20_29': 63823,
   'range_30_39': 40671,
   'range_40_49': 24672,
   'range_50_59': 14831,
   'range_60_69': 3930,
   'range_70_79': 954,
   'range_80_89': 244,
   'range_90_99': 111,
   'data_year': 2014},
  {'unknown': 8336,
   'range_0_9': 254,
   'range_10_19': 11241,
   'range_20_29': 17611,
   'range_30_39': 12014,
   'range_40_49': 4725,
   'range_50_59': 1605,
   'range_60_69': 633,
   'range_70_79': 210,
   'range_80_89': 43,
   'range_90_99': 25,
   'data_year': 1992},
  {'unknown': 6816,
   'range_0_9': 505,
   'range_10_19': 21802,
   'range_20_29': 25606,
   'range_30_39': 18393,
   'range_40_49': 9473,
   'range_50_59': 2803,
   'range_60_69': 903,
   'range_70_79': 306,
   'range_80_89': 71,
   'range_90_99': 159,
   'data_year': 1998},
  {'unknown': 4628,
   'range_0_9': 404,
   'range_10_19': 18717,
   'range_20_29': 21850,
   'range_30_39': 15875,
   'range_40_49': 7720,
   'range_50_59': 2403,
   'range_60_69': 775,
   'range_70_79': 214,
   'range_80_89': 49,
   'range_90_99': 108,
   'data_year': 1997},
  {'unknown': 18810,
   'range_0_9': 614,
   'range_10_19': 42142,
   'range_20_29': 59297,
   'range_30_39': 34422,
   'range_40_49': 23853,
   'range_50_59': 8351,
   'range_60_69': 2134,
   'range_70_79': 641,
   'range_80_89': 142,
   'range_90_99': 171,
   'data_year': 2005},
  {'unknown': 3494,
   'range_0_9': 330,
   'range_10_19': 15409,
   'range_20_29': 17958,
   'range_30_39': 13092,
   'range_40_49': 6182,
   'range_50_59': 2027,
   'range_60_69': 658,
   'range_70_79': 195,
   'range_80_89': 39,
   'range_90_99': 48,
   'data_year': 1996},
  {'unknown': 20362,
   'range_0_9': 677,
   'range_10_19': 43359,
   'range_20_29': 65446,
   'range_30_39': 35831,
   'range_40_49': 25741,
   'range_50_59': 9862,
   'range_60_69': 2390,
   'range_70_79': 660,
   'range_80_89': 181,
   'range_90_99': 169,
   'data_year': 2007},
  {'unknown': 12094,
   'range_0_9': 589,
   'range_10_19': 27815,
   'range_20_29': 37107,
   'range_30_39': 25317,
   'range_40_49': 14574,
   'range_50_59': 4608,
   'range_60_69': 1328,
   'range_70_79': 420,
   'range_80_89': 89,
   'range_90_99': 195,
   'data_year': 2000},
  {'unknown': 18539,
   'range_0_9': 475,
   'range_10_19': 31146,
   'range_20_29': 66656,
   'range_30_39': 39233,
   'range_40_49': 25939,
   'range_50_59': 14080,
   'range_60_69': 3536,
   'range_70_79': 808,
   'range_80_89': 194,
   'range_90_99': 143,
   'data_year': 2012},
  {'unknown': 22493,
   'range_0_9': 435,
   'range_10_19': 29441,
   'range_20_29': 70515,
   'range_30_39': 51633,
   'range_40_49': 27811,
   'range_50_59': 17528,
   'range_60_69': 5381,
   'range_70_79': 1199,
   'range_80_89': 251,
   'range_90_99': 154,
   'data_year': 2017},
  {'unknown': 19483,
   'range_0_9': 510,
   'range_10_19': 39348,
   'range_20_29': 66490,
   'range_30_39': 36241,
   'range_40_49': 25211,
   'range_50_59': 10839,
   'range_60_69': 2724,
   'range_70_79': 720,
   'range_80_89': 151,
   'range_90_99': 160,
   'data_year': 2009},
  {'unknown': 21537,
   'range_0_9': 622,
   'range_10_19': 43859,
   'range_20_29': 62912,
   'range_30_39': 34078,
   'range_40_49': 24876,
   'range_50_59': 9009,
   'range_60_69': 2199,
   'range_70_79': 661,
   'range_80_89': 152,
   'range_90_99': 147,
   'data_year': 2006},
  {'unknown': 12705,
   'range_0_9': 521,
   'range_10_19': 30529,
   'range_20_29': 43027,
   'range_30_39': 26292,
   'range_40_49': 17746,
   'range_50_59': 5744,
   'range_60_69': 1542,
   'range_70_79': 464,
   'range_80_89': 123,
   'range_90_99': 132,
   'data_year': 2003},
  {'unknown': 18551,
   'range_0_9': 511,
   'range_10_19': 33117,
   'range_20_29': 65154,
   'range_30_39': 36770,
   'range_40_49': 24414,
   'range_50_59': 12577,
   'range_60_69': 3275,
   'range_70_79': 791,
   'range_80_89': 198,
   'range_90_99': 109,
   'data_year': 2011},
  {'unknown': 19567,
   'range_0_9': 598,
   'range_10_19': 42346,
   'range_20_29': 65359,
   'range_30_39': 35058,
   'range_40_49': 25426,
   'range_50_59': 10363,
   'range_60_69': 2606,
   'range_70_79': 654,
   'range_80_89': 172,
   'range_90_99': 155,
   'data_year': 2008},
  {'unknown': 13017,
   'range_0_9': 547,
   'range_10_19': 30954,
   'range_20_29': 43504,
   'range_30_39': 27421,
   'range_40_49': 17327,
   'range_50_59': 5550,
   'range_60_69': 1488,
   'range_70_79': 439,
   'range_80_89': 108,
   'range_90_99': 160,
   'data_year': 2002},
  {'unknown': 21306,
   'range_0_9': 503,
   'range_10_19': 28293,
   'range_20_29': 69385,
   'range_30_39': 48062,
   'range_40_49': 26912,
   'range_50_59': 16749,
   'range_60_69': 4956,
   'range_70_79': 1136,
   'range_80_89': 274,
   'range_90_99': 113,
   'data_year': 2016},
  {'unknown': 4534,
   'range_0_9': 285,
   'range_10_19': 14279,
   'range_20_29': 17103,
   'range_30_39': 11411,
   'range_40_49': 4673,
   'range_50_59': 1486,
   'range_60_69': 550,
   'range_70_79': 178,
   'range_80_89': 31,
   'range_90_99': 31,
   'data_year': 1994}],
 'pagination': {'count': 29, 'page': 0, 'pages': 1, 'per_page': 0}}

In [5]:
# Testing if keys are correct to grab the specific data
print(nat_fbi_json["results"][0]["unknown"])

32502

In [6]:
# Creating lists to then later append with data from JSON data
nat_year = []
nat_unknown_count = []
nat_range_1 = []
nat_range_2 = []
nat_range_3 = []
nat_range_4 = []
nat_range_5 = []
nat_range_6 = []
nat_range_7 = []
nat_range_8 = []
nat_range_9 = []
nat_range_10 = []
nat_num = 0

for x in nat_fbi_json["results"]:
    nat_year.append(nat_fbi_json["results"][nat_num]["data_year"])
    nat_unknown_count.append(nat_fbi_json["results"][nat_num]["unknown"])
    nat_range_1.append(nat_fbi_json["results"][nat_num]["range_0_9"])
    nat_range_2.append(nat_fbi_json["results"][nat_num]["range_10_19"])
    nat_range_3.append(nat_fbi_json["results"][nat_num]["range_20_29"])
    nat_range_4.append(nat_fbi_json["results"][nat_num]["range_30_39"])
    nat_range_5.append(nat_fbi_json["results"][nat_num]["range_40_49"])
    nat_range_6.append(nat_fbi_json["results"][nat_num]["range_50_59"])
    nat_range_7.append(nat_fbi_json["results"][nat_num]["range_60_69"])
    nat_range_8.append(nat_fbi_json["results"][nat_num]["range_70_79"])
    nat_range_9.append(nat_fbi_json["results"][nat_num]["range_80_89"])
    nat_range_10.append(nat_fbi_json["results"][nat_num]["range_90_99"])
    nat_num +=1

In [7]:
# Create a dictionary to hold the keys(titles) and lists
nat_fbi_dict = {
    "Data Year": nat_year,
    "National Unknown Count": nat_unknown_count,
    "National Ages 0-9": nat_range_1,
    "National Ages 10-19": nat_range_2,
    "National Ages 20-29": nat_range_3,
    "National Ages 30-39": nat_range_4,
    "National Ages 40-49": nat_range_5,
    "National Ages 50-59": nat_range_6,
    "National Ages 60-69": nat_range_7,
    "National Ages 70-79": nat_range_8,
    "National Ages 80-89": nat_range_9,
    "National Ages 90-99": nat_range_10   
}

nat_fbi_df = pd.DataFrame(nat_fbi_dict)
nat_fbi_df

,Data Year,National Unknown Count,National Ages 0-9,National Ages 10-19,National Ages 20-29,National Ages 30-39,National Ages 40-49,National Ages 50-59,National Ages 60-69,National Ages 70-79,National Ages 80-89,National Ages 90-99
0,2019,32502,684,37312,88632,71014,37309,23459,8047,1841,430,203
1,1999,8230,507,21341,27760,20495,11061,3443,973,315,83,158
2,1993,5685,313,13989,17442,11054,4415,1437,471,142,34,35
3,2004,14983,568,34181,48529,28917,20320,6724,1717,524,129,157
4,2010,19370,541,36851,66933,36915,25360,11928,3059,812,197,148
5,2018,25231,455,31665,77818,59656,31802,20420,6484,1480,318,110
6,2013,17320,452,26910,63353,39095,24095,13982,3547,861,241,164
7,1995,2349,272,12445,15018,10910,4928,1535,525,158,30,52
8,1991,17795,162,7918,13069,9560,3535,1211,507,157,32,37
9,2001,13218,583,29329,40614,26381,15736,5150,1418,452,89,189
10,2015,18988,390,26942,65957,44123,25271,15631,4354,1035,218,177
11,2014,17689,419,26517,63823,40671,24672,14831,3930,954,244,111
12,1992,8336,254,11241,17611,12014,4725,1605,633,210,43,25
13,1998,6816,505,21802,25606,18393,9473,2803,903,306,71,159
14,1997,4628,404,18717,21850,15875,7720,2403,775,214,49,108
15,2005,18810,614,42142,59297,34422,23853,8351,2134,641,142,171
16,1996,3494,330,15409,17958,13092,6182,2027,658,195,39,48
17,2007,20362,677,43359,65446,35831,25741,9862,2390,660,181,169
18,2000,12094,589,27815,37107,25317,14574,4608,1328,420,89,195
19,2012,18539,475,31146,66656,39233,25939,14080,3536,808,194,143
20,2017,22493,435,29441,70515,51633,27811,17528,5381,1199,251,154
21,2009,19483,510,39348,66490,36241,25211,10839,2724,720,151,160
22,2006,21537,622,43859,62912,34078,24876,9009,2199,661,152,147
23,2003,12705,521,30529,43027,26292,17746,5744,1542,464,123,132
24,2011,18551,511,33117,65154,36770,24414,12577,3275,791,198,109
25,2008,19567,598,42346,65359,35058,25426,10363,2606,654,172,155
26,2002,13017,547,30954,43504,27421,17327,5550,1488,439,108,160
27,2016,21306,503,28293,69385,48062,26912,16749,4956,1136,274,113
28,1994,4534,285,14279,17103,11411,4673,1486,550,178,31,31

In [8]:
# Sorting new data frame by year
nat_sorted_df = nat_fbi_df.sort_values(by=["Data Year"])
nat_sorted_df

,Data Year,National Unknown Count,National Ages 0-9,National Ages 10-19,National Ages 20-29,National Ages 30-39,National Ages 40-49,National Ages 50-59,National Ages 60-69,National Ages 70-79,National Ages 80-89,National Ages 90-99
8,1991,17795,162,7918,13069,9560,3535,1211,507,157,32,37
12,1992,8336,254,11241,17611,12014,4725,1605,633,210,43,25
2,1993,5685,313,13989,17442,11054,4415,1437,471,142,34,35
28,1994,4534,285,14279,17103,11411,4673,1486,550,178,31,31
7,1995,2349,272,12445,15018,10910,4928,1535,525,158,30,52
16,1996,3494,330,15409,17958,13092,6182,2027,658,195,39,48
14,1997,4628,404,18717,21850,15875,7720,2403,775,214,49,108
13,1998,6816,505,21802,25606,18393,9473,2803,903,306,71,159
1,1999,8230,507,21341,27760,20495,11061,3443,973,315,83,158
18,2000,12094,589,27815,37107,25317,14574,4608,1328,420,89,195
9,2001,13218,583,29329,40614,26381,15736,5150,1418,452,89,189
26,2002,13017,547,30954,43504,27421,17327,5550,1488,439,108,160
23,2003,12705,521,30529,43027,26292,17746,5744,1542,464,123,132
3,2004,14983,568,34181,48529,28917,20320,6724,1717,524,129,157
15,2005,18810,614,42142,59297,34422,23853,8351,2134,641,142,171
22,2006,21537,622,43859,62912,34078,24876,9009,2199,661,152,147
17,2007,20362,677,43359,65446,35831,25741,9862,2390,660,181,169
25,2008,19567,598,42346,65359,35058,25426,10363,2606,654,172,155
21,2009,19483,510,39348,66490,36241,25211,10839,2724,720,151,160
4,2010,19370,541,36851,66933,36915,25360,11928,3059,812,197,148
24,2011,18551,511,33117,65154,36770,24414,12577,3275,791,198,109
19,2012,18539,475,31146,66656,39233,25939,14080,3536,808,194,143
6,2013,17320,452,26910,63353,39095,24095,13982,3547,861,241,164
11,2014,17689,419,26517,63823,40671,24672,14831,3930,954,244,111
10,2015,18988,390,26942,65957,44123,25271,15631,4354,1035,218,177
27,2016,21306,503,28293,69385,48062,26912,16749,4956,1136,274,113
20,2017,22493,435,29441,70515,51633,27811,17528,5381,1199,251,154
5,2018,25231,455,31665,77818,59656,31802,20420,6484,1480,318,110
0,2019,32502,684,37312,88632,71014,37309,23459,8047,1841,430,203

******************************************************************

In [9]:
# STATE LEVEL offender-data-controller
st_offense = "aggravated-assault"
state_abr = "VA"

# This field can be age, count, ethnicity, race, sex
st_variable = "age"

st_query_url = f"{base_url}data/nibrs/{st_offense}/offender/states/{state_abr}/{st_variable}?API_KEY={api_key}"

st_query_url

'https://api.usa.gov/crime/fbi/sapi/api/data/nibrs/aggravated-assault/offender/states/VA/age?API_KEY=cflHyG9x1XDXBgcVSb4tVrfvlJ40CZESdtJRqOVe'

In [10]:
# Getting data
st_fbi_response = requests.get(st_query_url)
st_fbi_json = st_fbi_response.json()
st_fbi_json

{'results': [{'unknown': 19,
   'range_0_9': 0,
   'range_10_19': 16,
   'range_20_29': 39,
   'range_30_39': 28,
   'range_40_49': 9,
   'range_50_59': 5,
   'range_60_69': 0,
   'range_70_79': 1,
   'range_80_89': 0,
   'range_90_99': 0,
   'data_year': 1994},
  {'unknown': 51,
   'range_0_9': 0,
   'range_10_19': 97,
   'range_20_29': 209,
   'range_30_39': 139,
   'range_40_49': 61,
   'range_50_59': 11,
   'range_60_69': 9,
   'range_70_79': 1,
   'range_80_89': 1,
   'range_90_99': 0,
   'data_year': 1995},
  {'unknown': 81,
   'range_0_9': 3,
   'range_10_19': 316,
   'range_20_29': 467,
   'range_30_39': 315,
   'range_40_49': 130,
   'range_50_59': 51,
   'range_60_69': 20,
   'range_70_79': 1,
   'range_80_89': 0,
   'range_90_99': 0,
   'data_year': 1996},
  {'unknown': 293,
   'range_0_9': 17,
   'range_10_19': 732,
   'range_20_29': 978,
   'range_30_39': 747,
   'range_40_49': 373,
   'range_50_59': 112,
   'range_60_69': 34,
   'range_70_79': 7,
   'range_80_89': 2,
   'range_90_99': 1,
   'data_year': 1997},
  {'unknown': 430,
   'range_0_9': 23,
   'range_10_19': 1185,
   'range_20_29': 1659,
   'range_30_39': 1370,
   'range_40_49': 690,
   'range_50_59': 194,
   'range_60_69': 57,
   'range_70_79': 19,
   'range_80_89': 1,
   'range_90_99': 4,
   'data_year': 1998},
  {'unknown': 862,
   'range_0_9': 30,
   'range_10_19': 1907,
   'range_20_29': 2460,
   'range_30_39': 1893,
   'range_40_49': 1005,
   'range_50_59': 297,
   'range_60_69': 72,
   'range_70_79': 28,
   'range_80_89': 9,
   'range_90_99': 3,
   'data_year': 1999},
  {'unknown': 1622,
   'range_0_9': 41,
   'range_10_19': 3036,
   'range_20_29': 3671,
   'range_30_39': 2386,
   'range_40_49': 1363,
   'range_50_59': 458,
   'range_60_69': 126,
   'range_70_79': 28,
   'range_80_89': 11,
   'range_90_99': 21,
   'data_year': 2000},
  {'unknown': 1695,
   'range_0_9': 49,
   'range_10_19': 2904,
   'range_20_29': 3662,
   'range_30_39': 2231,
   'range_40_49': 1299,
   'range_50_59': 593,
   'range_60_69': 112,
   'range_70_79': 44,
   'range_80_89': 5,
   'range_90_99': 2,
   'data_year': 2001},
  {'unknown': 1834,
   'range_0_9': 50,
   'range_10_19': 2875,
   'range_20_29': 3867,
   'range_30_39': 2215,
   'range_40_49': 1376,
   'range_50_59': 534,
   'range_60_69': 110,
   'range_70_79': 33,
   'range_80_89': 9,
   'range_90_99': 15,
   'data_year': 2002},
  {'unknown': 1699,
   'range_0_9': 47,
   'range_10_19': 2704,
   'range_20_29': 3721,
   'range_30_39': 1956,
   'range_40_49': 1336,
   'range_50_59': 428,
   'range_60_69': 113,
   'range_70_79': 42,
   'range_80_89': 4,
   'range_90_99': 7,
   'data_year': 2003},
  {'unknown': 1491,
   'range_0_9': 42,
   'range_10_19': 2828,
   'range_20_29': 3619,
   'range_30_39': 1888,
   'range_40_49': 1402,
   'range_50_59': 433,
   'range_60_69': 83,
   'range_70_79': 47,
   'range_80_89': 8,
   'range_90_99': 3,
   'data_year': 2004},
  {'unknown': 1719,
   'range_0_9': 37,
   'range_10_19': 2973,
   'range_20_29': 3620,
   'range_30_39': 1834,
   'range_40_49': 1422,
   'range_50_59': 465,
   'range_60_69': 107,
   'range_70_79': 27,
   'range_80_89': 9,
   'range_90_99': 7,
   'data_year': 2005},
  {'unknown': 1666,
   'range_0_9': 41,
   'range_10_19': 2897,
   'range_20_29': 3823,
   'range_30_39': 1753,
   'range_40_49': 1440,
   'range_50_59': 533,
   'range_60_69': 106,
   'range_70_79': 41,
   'range_80_89': 5,
   'range_90_99': 5,
   'data_year': 2006},
  {'unknown': 1470,
   'range_0_9': 36,
   'range_10_19': 2795,
   'range_20_29': 3781,
   'range_30_39': 1727,
   'range_40_49': 1355,
   'range_50_59': 493,
   'range_60_69': 105,
   'range_70_79': 42,
   'range_80_89': 7,
   'range_90_99': 3,
   'data_year': 2007},
  {'unknown': 1361,
   'range_0_9': 40,
   'range_10_19': 2512,
   'range_20_29': 3602,
   'range_30_39': 1609,
   'range_40_49': 1287,
   'range_50_59': 500,
   'range_60_69': 118,
   'range_70_79': 24,
   'range_80_89': 9,
   'range_90_99': 4,
   'data_year': 2008},
  {'unknown': 1387,
   'range_0_9': 32,
   'range_10_19': 2236,
   'range_20_29': 3463,
   'range_30_39': 1723,
   'range_40_49': 1361,
   'range_50_59': 471,
   'range_60_69': 112,
   'range_70_79': 37,
   'range_80_89': 6,
   'range_90_99': 4,
   'data_year': 2009},
  {'unknown': 1184,
   'range_0_9': 32,
   'range_10_19': 2154,
   'range_20_29': 3299,
   'range_30_39': 1595,
   'range_40_49': 1100,
   'range_50_59': 536,
   'range_60_69': 136,
   'range_70_79': 43,
   'range_80_89': 9,
   'range_90_99': 1,
   'data_year': 2010},
  {'unknown': 1102,
   'range_0_9': 20,
   'range_10_19': 1850,
   'range_20_29': 3083,
   'range_30_39': 1452,
   'range_40_49': 1117,
   'range_50_59': 569,
   'range_60_69': 133,
   'range_70_79': 29,
   'range_80_89': 7,
   'range_90_99': 2,
   'data_year': 2011},
  {'unknown': 1004,
   'range_0_9': 23,
   'range_10_19': 1610,
   'range_20_29': 3214,
   'range_30_39': 1583,
   'range_40_49': 1098,
   'range_50_59': 630,
   'range_60_69': 148,
   'range_70_79': 33,
   'range_80_89': 6,
   'range_90_99': 2,
   'data_year': 2012},
  {'unknown': 895,
   'range_0_9': 23,
   'range_10_19': 1461,
   'range_20_29': 3182,
   'range_30_39': 1702,
   'range_40_49': 1052,
   'range_50_59': 643,
   'range_60_69': 138,
   'range_70_79': 47,
   'range_80_89': 9,
   'range_90_99': 2,
   'data_year': 2013},
  {'unknown': 976,
   'range_0_9': 28,
   'range_10_19': 1506,
   'range_20_29': 2977,
   'range_30_39': 1819,
   'range_40_49': 1001,
   'range_50_59': 630,
   'range_60_69': 174,
   'range_70_79': 39,
   'range_80_89': 9,
   'range_90_99': 1,
   'data_year': 2014},
  {'unknown': 895,
   'range_0_9': 19,
   'range_10_19': 1339,
   'range_20_29': 2964,
   'range_30_39': 1770,
   'range_40_49': 948,
   'range_50_59': 616,
   'range_60_69': 177,
   'range_70_79': 50,
   'range_80_89': 8,
   'range_90_99': 0,
   'data_year': 2015},
  {'unknown': 1203,
   'range_0_9': 27,
   'range_10_19': 1373,
   'range_20_29': 3116,
   'range_30_39': 1865,
   'range_40_49': 1044,
   'range_50_59': 697,
   'range_60_69': 199,
   'range_70_79': 49,
   'range_80_89': 7,
   'range_90_99': 1,
   'data_year': 2016},
  {'unknown': 951,
   'range_0_9': 23,
   'range_10_19': 1364,
   'range_20_29': 2911,
   'range_30_39': 2009,
   'range_40_49': 994,
   'range_50_59': 726,
   'range_60_69': 198,
   'range_70_79': 37,
   'range_80_89': 12,
   'range_90_99': 2,
   'data_year': 2017},
  {'unknown': 1052,
   'range_0_9': 20,
   'range_10_19': 1333,
   'range_20_29': 3057,
   'range_30_39': 2162,
   'range_40_49': 1044,
   'range_50_59': 742,
   'range_60_69': 232,
   'range_70_79': 51,
   'range_80_89': 9,
   'range_90_99': 4,
   'data_year': 2018},
  {'unknown': 833,
   'range_0_9': 18,
   'range_10_19': 1374,
   'range_20_29': 2912,
   'range_30_39': 2282,
   'range_40_49': 1137,
   'range_50_59': 704,
   'range_60_69': 237,
   'range_70_79': 50,
   'range_80_89': 14,
   'range_90_99': 4,
   'data_year': 2019}],
 'pagination': {'count': 26, 'page': 0, 'pages': 1, 'per_page': 0}}

In [11]:
# Testing if keys are correct to grab the specific data
print(st_fbi_json["results"][0]["unknown"])

19

In [12]:
# Creating lists to then later append with data from JSON data
st_year = []
st_unknown_count = []
st_range_1 = []
st_range_2 = []
st_range_3 = []
st_range_4 = []
st_range_5 = []
st_range_6 = []
st_range_7 = []
st_range_8 = []
st_range_9 = []
st_range_10 = []
st_num = 0

for x in st_fbi_json["results"]:
    st_year.append(st_fbi_json["results"][st_num]["data_year"])
    st_unknown_count.append(st_fbi_json["results"][st_num]["unknown"])
    st_range_1.append(st_fbi_json["results"][st_num]["range_0_9"])
    st_range_2.append(st_fbi_json["results"][st_num]["range_10_19"])
    st_range_3.append(st_fbi_json["results"][st_num]["range_20_29"])
    st_range_4.append(st_fbi_json["results"][st_num]["range_30_39"])
    st_range_5.append(st_fbi_json["results"][st_num]["range_40_49"])
    st_range_6.append(st_fbi_json["results"][st_num]["range_50_59"])
    st_range_7.append(st_fbi_json["results"][st_num]["range_60_69"])
    st_range_8.append(st_fbi_json["results"][st_num]["range_70_79"])
    st_range_9.append(st_fbi_json["results"][st_num]["range_80_89"])
    st_range_10.append(st_fbi_json["results"][st_num]["range_90_99"])
    st_num +=1

In [13]:
# Create a dictionary to hold the keys(titles) and lists
st_fbi_dict = {
    "Data Year": st_year,
    "VA Unknown Count": st_unknown_count,
    "VA Ages 0-9": st_range_1,
    "VA Ages 10-19": st_range_2,
    "VA Ages 20-29": st_range_3,
    "VA Ages 30-39": st_range_4,
    "VA Ages 40-49": st_range_5,
    "VA Ages 50-59": st_range_6,
    "VA Ages 60-69": st_range_7,
    "VA Ages 70-79": st_range_8,
    "VA Ages 80-89": st_range_9,
    "VA Ages 90-99": st_range_10   
}

st_fbi_df = pd.DataFrame(st_fbi_dict)
st_fbi_df

,Data Year,VA Unknown Count,VA Ages 0-9,VA Ages 10-19,VA Ages 20-29,VA Ages 30-39,VA Ages 40-49,VA Ages 50-59,VA Ages 60-69,VA Ages 70-79,VA Ages 80-89,VA Ages 90-99
0,1994,19,0,16,39,28,9,5,0,1,0,0
1,1995,51,0,97,209,139,61,11,9,1,1,0
2,1996,81,3,316,467,315,130,51,20,1,0,0
3,1997,293,17,732,978,747,373,112,34,7,2,1
4,1998,430,23,1185,1659,1370,690,194,57,19,1,4
5,1999,862,30,1907,2460,1893,1005,297,72,28,9,3
6,2000,1622,41,3036,3671,2386,1363,458,126,28,11,21
7,2001,1695,49,2904,3662,2231,1299,593,112,44,5,2
8,2002,1834,50,2875,3867,2215,1376,534,110,33,9,15
9,2003,1699,47,2704,3721,1956,1336,428,113,42,4,7
10,2004,1491,42,2828,3619,1888,1402,433,83,47,8,3
11,2005,1719,37,2973,3620,1834,1422,465,107,27,9,7
12,2006,1666,41,2897,3823,1753,1440,533,106,41,5,5
13,2007,1470,36,2795,3781,1727,1355,493,105,42,7,3
14,2008,1361,40,2512,3602,1609,1287,500,118,24,9,4
15,2009,1387,32,2236,3463,1723,1361,471,112,37,6,4
16,2010,1184,32,2154,3299,1595,1100,536,136,43,9,1
17,2011,1102,20,1850,3083,1452,1117,569,133,29,7,2
18,2012,1004,23,1610,3214,1583,1098,630,148,33,6,2
19,2013,895,23,1461,3182,1702,1052,643,138,47,9,2
20,2014,976,28,1506,2977,1819,1001,630,174,39,9,1
21,2015,895,19,1339,2964,1770,948,616,177,50,8,0
22,2016,1203,27,1373,3116,1865,1044,697,199,49,7,1
23,2017,951,23,1364,2911,2009,994,726,198,37,12,2
24,2018,1052,20,1333,3057,2162,1044,742,232,51,9,4
25,2019,833,18,1374,2912,2282,1137,704,237,50,14,4

In [14]:
# Sorting new data frame by year
st_sorted_df = st_fbi_df.sort_values(by=["Data Year"])
st_sorted_df

,Data Year,VA Unknown Count,VA Ages 0-9,VA Ages 10-19,VA Ages 20-29,VA Ages 30-39,VA Ages 40-49,VA Ages 50-59,VA Ages 60-69,VA Ages 70-79,VA Ages 80-89,VA Ages 90-99
0,1994,19,0,16,39,28,9,5,0,1,0,0
1,1995,51,0,97,209,139,61,11,9,1,1,0
2,1996,81,3,316,467,315,130,51,20,1,0,0
3,1997,293,17,732,978,747,373,112,34,7,2,1
4,1998,430,23,1185,1659,1370,690,194,57,19,1,4
5,1999,862,30,1907,2460,1893,1005,297,72,28,9,3
6,2000,1622,41,3036,3671,2386,1363,458,126,28,11,21
7,2001,1695,49,2904,3662,2231,1299,593,112,44,5,2
8,2002,1834,50,2875,3867,2215,1376,534,110,33,9,15
9,2003,1699,47,2704,3721,1956,1336,428,113,42,4,7
10,2004,1491,42,2828,3619,1888,1402,433,83,47,8,3
11,2005,1719,37,2973,3620,1834,1422,465,107,27,9,7
12,2006,1666,41,2897,3823,1753,1440,533,106,41,5,5
13,2007,1470,36,2795,3781,1727,1355,493,105,42,7,3
14,2008,1361,40,2512,3602,1609,1287,500,118,24,9,4
15,2009,1387,32,2236,3463,1723,1361,471,112,37,6,4
16,2010,1184,32,2154,3299,1595,1100,536,136,43,9,1
17,2011,1102,20,1850,3083,1452,1117,569,133,29,7,2
18,2012,1004,23,1610,3214,1583,1098,630,148,33,6,2
19,2013,895,23,1461,3182,1702,1052,643,138,47,9,2
20,2014,976,28,1506,2977,1819,1001,630,174,39,9,1
21,2015,895,19,1339,2964,1770,948,616,177,50,8,0
22,2016,1203,27,1373,3116,1865,1044,697,199,49,7,1
23,2017,951,23,1364,2911,2009,994,726,198,37,12,2
24,2018,1052,20,1333,3057,2162,1044,742,232,51,9,4
25,2019,833,18,1374,2912,2282,1137,704,237,50,14,4